<div class="container-fluid">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h1>Errors</h1>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Event id</th>
						<th>Date</th>
						<th>Module</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="error in data.content">
						<th scope="row">{{error.id}}</th>
						<td>{{error.eventId}}</td>
						<td>{{error.date}}</td>
						<td>{{error.module}}</td>
						<td>{{error.description}}</td>
					</tr>
				</tbody>
			</table>
	    <hr />
	    <pagination ng-change="selectPage()" items-per-page="itemsPerPage" total-items="totalItems" ng-model="currentPage" max-size="8" class="pagination-sm" boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" rotate="false" num-pages="numPages"></pagination>

		</div>
	</div>
</div>